FTG4.50/

venv/

# ide / editor
.idea/
.vscode/
*.iml
*.code-workspace

# os
**/.DS_Store

# python
**/__pycache__/
*.pyc

# coverage and test files
.coverage
.coverage*
.tox/
htmlcov/
htmltypecov/

# build files
MANIFEST
build/
*.egg-info/
dist/

docs/_build/

# mypy files
/.mypy_cache/

*.log*

